@media screen and (min-width:1024px) {
    :root{
        --hover_color:white;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        font-family: "poppins";
        font-size: 25px;
    }
    .the__head{
        height: 660px;
        width:100%;
        background-image: url("/ảnh/bakcground_shop2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 130px;
        margin: 10px 5px;
    }
    .logo__store img{
        width: 150px;
        height: 110px;
        transform: translateX(115px);
    }
    .icon{
        margin: 30px;
        padding-right: 30px;
        transform: translate(-70px,10px);
        cursor: pointer;
        
    }
    .icon i{
        padding-right: 20px;
        text-decoration: none;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    a:hover{
        text-decoration: underline;
        text-decoration-color: rgb(171, 61, 61);
        color: rgb(237, 125, 144);
    }
    .nar__bar{
        font-size: 22px;
        display: flex;
        justify-content: space-around;
        border: 2px solid black;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
    }
    .interaction__bar{
        height: 40px;
        display: flex;
        align-items: center;
    }
    .interaction__bar span{
        cursor: pointer;
        padding: 5px 0;
        padding-left: 10px;
        padding-right: 15px;
        transition: 0.75s;
    }
    .interaction__bar span:hover{
        border-radius: 3px;
        background-color: black;
        color: white;
    }
    .search__bar{
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-right: 10px;
    }
    .search__bar i{
        cursor: pointer;
    }
    input{
        background: transparent;
        padding: 5px 0;
        border: unset;
        transform: translateY(0.5px);
    }
    input:focus{
        border: unset;
        outline: none;
        border-bottom: 2px solid rgb(255, 255, 255);
    }
    input::placeholder{
        font-size: 15px;
        color: black;
    }
    .under__bar{
        padding: 15px 0;
        margin-left: 4rem;
        font-size: 18px;
        font-weight: 600;
    }
    .hav__bar{
        display: flex;
    }
    
    .under__bar li{
        z-index: 10;
        padding: 15px;
        transition: 0.75;
        cursor: pointer;
        transform: translateY(-13px);
        list-style: none;
         /* transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: linear;
        visibility: visible;   */
    }
    .under__bar li:hover{
        background-color: #ddd;
        
    }
    /* dropdown menu bed & bath */
    tr,td{
        padding: 5px;
        transition: 0.5s;
        cursor: pointer;
    }
    td:hover{
        background-color: #eee;
        opacity: 0.7;
    }
    .btm__bar{
        position: relative;
    }
    .btc__bar{
        z-index: 10;
        cursor: auto;
        height:auto ;
        width: 680px;
        font-size: 15px;
        font-weight: 300;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: #ffffff;
        display: none;
        
    }
    .img_no1{
        height: 120px;
        width: 150px;
        float: right ;
        transform: translate(-20px,90%);
        box-shadow: 2px 2px 2px gray;
        border-radius: 5px;
    }
    .img_no2{
        height: 120px;
        width: 150px;
        float: right ;
        box-shadow: 2px 2px 2px gray;
        border-radius: 5px;
        margin-top: 5px;
    }
    .btm__bar:hover .btc__bar{
        display: block;
        margin-top: 10px;
        transition: -5s;
    }
    /* end */
    
    /* dropdown menu rugs */
    .btm__bar1{
        position: relative;
    }
    .btm__bar1:hover .btc__bar1{
        display: block;
    }
    .btc__bar1{
        padding-left: 10px;
        background-color: white;
        position: absolute;
        left: 0;
        width: 400px;
        height: 400px;
        font-size: 15px;
        font-weight: 300;
        margin:20px 0px;
        padding-top: 20px;
        display: none;
        cursor: auto;
        z-index: 100;
    }
    .btc__bar1 li{
        display: flex;
        width: 90px;
        padding: 2.5px;
        cursor: pointer;
    }
    .btc__bar1 li:hover{
        background-color:#ddd;
        opacity: 0.7;
    }
    .btc__bar1 img{
        position: relative;
        top: -300px;
        left:180px;
    }
    .btc__bar1 img:hover{
        background-color: unset;
    }
    /* end rugs */
    
    /* ready made curtains */
    .btm__bar2{
        position: relative;
    }
    .btm__bar2:hover .btc__bar2{
        display: block;
    }
    .btc__bar2{
        background-image: url(/ảnh/san_pham4.png);
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        width: 400px;
        height: 380px;
        font-size: 15px;
        font-weight: 300;
        margin:20px 0px;
        padding-top: 20px;
        padding-left: 10px;
        display: none;
        cursor: auto;
        position: fixed;
    }
    .btc__bar2 li{
        display: flex;
        width: 90px;
        padding: 2.5px;
        cursor: pointer;
    }
    .btc__bar2 li:hover{
        background-color:#ddd;
        opacity: 0.7;
    }
    /*  end   */
    
    /*  Cushion cover */
    .btm__bar3{
        position: relative;
    }
    .btm__bar3:hover .btc__bar3{
        display: block;
    }
    .btc__bar3{
        background-color: #ffffff;
        background-image: url(/ảnh/san_pham5.png);
        background-repeat: no-repeat;
        z-index: 10;
        background-position: right;
        position: absolute;
        left: 0;
        width: 500px;
        height: 380px;
        font-size: 15px;
        font-weight: 300;
        margin:20px 0px;
        padding-top: 20px;
        display: none;
        cursor: auto;
    }
    .btc__bar3 li{
        display: flex;
        width: 110px;
        padding: 2.5px;
        cursor: pointer;
    }
    .btc__bar3 li:hover{
        background-color:#ddd;
        opacity: 0.7;
    }
    /* end */
.head__text{
        height: auto;
        width: 400px;
        font-size: 17px;
        transform: translate(150px,50px);
        position: relative;
    }
    .head__text p{
        font-family:'Courier New', Courier, monospace;
        font-weight: 200;
        font-size: 23px;
        transform: translateY(-25px);
    }
    .head__text button{
        background-color: rgb(32, 31, 31);
        color: white;
        font-size: 15px;
        padding: 15px 20px;
        border-radius: 5px;
        text-align: center;
    }
    .head__text button:hover{
        background-color: white;
        color: #5a5757;
        font-weight: 300;
    } 
    /* body_wed */
    /* phan shop categories */
h1{
    margin: 35px 0;
    font-size: 37px;
    text-align: center;
}
.box_card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1175px;
    height: 530px;
    overflow-x:scroll; 
    overflow-y: hidden;
}
.box_card img{
    height: 480px;
    width: 380px;
    border-radius: 7px;
}
.box_card p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}
.box_card h2{
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top:-25px;
    left: 10px;
}
/* san pham  */
.card{
    height: 510px;
    width: 380px;
    position: relative;
    top:10px;
    margin: 10px;

}
.text_card{
    position: absolute;
    top: 375px;
    left:10px;
    width: 95%;
    height: 100px;
    border-radius: 7px;
    background-color: #ffffff;
    color: black;
    transition: 0.5s;
}
.card:hover .text_card{
    color: rgb(255, 255, 255);
    background-color:black;
    opacity: 0.7;
    position: absolute;
    top: 350px;
    left:0px;
    width: 100%;
}
 .box_card::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-image: url('https://sgl.com.vn/wp-content/uploads/2020/11/cay-day-leo-e1606278973736.jpg');
    background-size: contain;
    color: #5a5757;
    height: 7px;
} 
.box_card::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    height: 10px;
} 
/* phan 2: new arrivals */
.box{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    border: 2px solid red;
}
.box p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 15px;
}
.box h3{
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: -20px;
}

.left{
    border: 2px solid rgb(0, 0, 0);
}

.left img{
    height:772px;
}



}







